@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:color';

:root[data-theme='dark'] {
  .welcome_page {
    background-color: $background-color-primary-dark-theme;
    color: $text-color-primary-dark-theme;

    .welcome_page_container {
      background-color: $background-color-secondary-dark-theme;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .btn {
      background-color: $button-background-color-dark-theme;
      color: $button-text-color-dark-theme;

      transition: all 0.3s ease;
      &:hover {
        background-color: color.adjust($button-background-color-dark-theme, $lightness: 10%);
        cursor: pointer;
      }
    }
  }
}

.welcome_page {
  @include flex_center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  background-color: $background-color-primary-light-theme;
  color: $text-color-primary-light-theme;

  .welcome_page_container {
    @include flex_center;
    flex-direction: column;
    gap: 20px;

    width: 50%;

    background-color: $background-color-secondary-light-theme;

    padding: 20px 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    .welcome_page_title {
      font-size: $font-size-large;
      width: 50%;
      text-align: center;
    }

    .btn {
      @include btn_style_primary;
    }

    .change_theme_btn {
      @include change_theme_btn;
    }
  }
}
