@use 'variables' as *;
@use 'sass:color';

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn_style_primary {
  background-color: $button-background-color-light-theme;
  color: $button-text-color-light-theme;

  font-size: $font-size-small; // 18px
  width: 50%;

  padding: 10px 15px;
  border-radius: 10px;

  transition: all 0.3s ease;
  &:hover {
    background-color: color.adjust($button-background-color-light-theme, $lightness: -10%);
    cursor: pointer;
  }
}

@mixin input_style_primary {
  border: none;
  outline: none;
  background-color: transparent;
  color: $text-color-primary-light-theme;
  font-size: $font-size-small; // 18px
  width: 100%;
}
